/*
 Theme Name:   Dr. Amy Walker
 Theme URI:    http://smartboxwebmarketing.com
 Description:  Dr. Amy Walker
 Author:       Smartbox
 Author URI:   http://smartboxwebmarketing.com
 Template:     swmparentv2
 Version:      2.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  smartbox-child
*/


/* ====================================================
  Global
=====================================================*/
body {
    min-width: 320px;
    color: #040218;
}

.main-content #menu-toggle {
    z-index: 999999;
}

#masthead {
    z-index: 99999 !important;
}

ul,
ol {
    margin-left: 0;
    padding-left: 20px;
}

.search .site-main article {
    margin-bottom: 1.875rem;
    padding-bottom: 1.875rem;
}

/*global text color sitewide*/
body,
button,
input,
select,
textarea,
blockquote,
.contact-info-bar .appointment-box .schedule ul.swm-bh.short li,
.contact-info-bar .appointment-box .title,
.contact-info-bar .appointment-box address a,
.schedule-online .content h3,
.schedule-online .content p,
.niche-blocks .fs-list-type2 .list-item .content .title,
.light-palette,
header address a,
header address a:focus,
header address a:visited,
.innerpage-banner-e h1,
.innerpage-banner-e .header-title,
.innerpage-banner-e ul.innerpage-banner-list,
.innerpage-banner-a .innerpage-banner-container p,
.innerpage-banner-a .schedule-online .content h3,
.innerpage-banner-b .schedule-online .content h3,
.innerpage-banner-a .schedule-online a.btn-text,
.banner-1 .banner-text-content .header-title,
.banner-1 .banner-text-content,
.banner-1 .banner-text-content p,
.banner-1.dark-palette .schedule-online .content h3,
.tour-office-teaser-a .right-col .generic-content p,
.tour-office-teaser-a .right-col .header-title,
.dark-palette {
    color: #040218;
}

.niche-blocks .mod-content-fullwidth p {
    color: #fff;
}

h1,
.header-title,
h1.header-title {
    font-size: 36px !important;
    line-height: 38px !important;
}

h3,
.transcript-title,
.section-title {
    font-size: 2rem;
    line-height: 2.375rem;
    font-weight: 700;
}

h3 {
    clear: initial;
}

.site-main {
    position: relative;
    z-index: 0;
}

.site-main.generic-main-content .container {
    padding: 40px 5% 80px 5%;
}

.main-content {
    position: relative;
    z-index: 1;
}

.main-content,
.generic-main-content {
    background: #fff;
    background-color: #fff;
}

/* body .chat-widget-box {
  bottom: 6rem;
} */
.cd-top {
    bottom: 20px;
    display: none !important;
}

.cd-top.cd-is-visible,
.cd-top:active,
.cd-top:focus {
    background: #d3cd6d;
    opacity: 1;
    display: none !important;
}

.cd-top.cd-is-visible:hover {
    opacity: 1;
    background: #c2be7a;
}

.dark-palette {
    background-color: #fff;
}

.separator-right {
    border-right: 1px solid #D0D0D0;
}

a.readmore:after {
    content: "\f138";
}

/*links*/
.content a.phone {
    white-space: nowrap;
}

a,
a:active,
a:visited,
a:focus,
span.tel a,
a.btn-text,
#menu-sitemap li.pointer-event-none ul.sub-menu li,
#menu-sitemap li,
#menu-sitemap li a,
#menu-sitemap li.pointer-event-none ul.sub-menu li a {
    color: #8a9758;
}

a:hover,
span.tel a:hover,
a.btn-text:hover,
.footer-container .widget .latest-blogs a.read-more-arrow-right:hover,
.contact-info-bar .appointment-box address a:hover,
header.layout-header-b-wrapper .contact-details a.btn-text.large:hover,
header address a:hover,
#menu-sitemap li a:hover,
#menu-sitemap li.pointer-event-none ul.sub-menu li a:hover,
.all-services ul.service-names li a:hover,
.nav-links a:hover,
.trio-blocks-b .list-item .block-icon a:hover .fa,
.footer-container .widget .latest-blogs .title a:hover,
.footer-menu-container ul.menu li a:hover,
.privacy-section .privacy-holder p a:hover,
.copyright p a:hover,
.footer-container .widget address a:hover {
    color: #a9b385;
}

.bread-crumbs {
    width: 1200px;
    padding: .75rem 15px;
}

.bread-crumbs a,
.bread-crumbs {
    color: #040218;
}

.bread-crumbs a:hover {
    color: #a9b385;
}

.site-main .content a,
.generic-content-a .mod-content-fullwidth a {
    font-weight: 700;
}

.generic-content-a .mod-content-fullwidth a:after {
    display: none;
}

.generic-content-a .mod-content-fullwidth a.popup-video {
    line-height: 1.5rem;
    margin-bottom: 0;
    margin-top: 20px;
}

.generic-content-a .mod-content-fullwidth a.featured-video-transcript-btn {
    font-size: 1.125rem;
    margin-top: 10px;
}

.footer-container span.tel a .fa-mobile,
.innerpage-banner-e a.btn-default-light.calendar:before {
    margin-right: 0;
}

.innerpage-banner-a .schedule-online a.btn-default-light:before {
    font-size: 20px !important;
    font-size: 1.25rem !important;
}

.innerpage-banner-a .schedule-online a.btn-text,
.innerpage-banner-a .schedule-online a.btn-default-light {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.innerpage-banner-a .schedule-online a.btn-default-light {
    margin-bottom: 5px;
}

.footer-container .widget h4:before {
    font-weight: 400;
}

.footer-container,
.schedule-online .footer {
    background-color: #85837c;
    background: #85837c;
}

.featured-services-type2.light-palette,
.all-services {
    background: #53524e;
    background-color: #53524e;
}

/* ====================================================
  Buttons
=====================================================*/
a.btn-default-dark,
a.btn-default-light,
a.btn-flat-dark,
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_footer .gform_button,
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit],
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.search-form:active .search-submit,
.search-form:focus .search-submit,
.search-submit:focus,
.tour-office-teaser-a a.btn-default-light,
.tour-office-teaser-a a.btn-default-light:focus,
.tour-office-teaser-a a.btn-default-light:active,
.tour-office-teaser-compact .btn-default-light,
.tour-office-teaser-compact .btn-default-light:focus,
.tour-office-teaser-compact .btn-default-light:active,
.ebook-fullwidth-container .ebook-services form ._submit,
.ebook-fullwidth-container .ebook-services form ._submit:active,
.ebook-fullwidth-container .ebook-services form ._submit:focus {
    text-transform: inherit;
    font-weight: 700;
    color: inherit;
    text-shadow: none;
    background: #f1b67c;
    background: -webkit-linear-gradient(top, #f1b67c 20%, #ed9b4c 80%);
    background: -webkit-linear-gradient(top, #f1b67c 0%, #ed9b4c 100%);
    background: linear-gradient(to bottom, #f1b67c 0%, #ed9b4c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1b67c', endColorstr='#ed9b4c', GradientType=0);
}

a.btn-default-dark:after,
a.btn-default-light:after,
.btn-default-style:after,
a.btn-flat-dark:after,
a.btn-box-dark:after,
.gform_wrapper .gform_footer input.button:after,
.gform_wrapper .gform_footer input[type=submit]:after,
.gform_wrapper .gform_page_footer input.button:after,
.gform_wrapper .gform_page_footer input[type=submit]:after,
.gform_wrapper .gform_footer .gform_button:after,
.tour-office-teaser-compact a.btn-default-light:after,
.tour-office-teaser-compact a.btn-default-light input[type=submit]:after,
.tour-office-teaser-a a.btn-default-light:after,
.ebook-fullwidth-container .ebook-services form ._submit:after,
.doctor-overview .list-item a.btn-flat-dark:after,
.footer-container .appointment-box a.btn-text.calendar:after,
.generic-content-f .popup-video i.play-icon:after,
ul.menu li.swm-raa-wrapper a:after,
.swm-raa-wrapper a.btn-default-dark:after {
    font-weight: 700;
    color: inherit;
    text-shadow: none;
    background: #ed9b4c;
    background: -webkit-linear-gradient(top, #ed9b4c 20%, #ad7138 80%);
    background: -webkit-linear-gradient(top, #ed9b4c 0%, #ad7138 100%);
    background: linear-gradient(to bottom, #ed9b4c 0%, #ad7138 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed9b4c', endColorstr='#ad7138', GradientType=0);
}

a.btn-default-dark.calendar:before,
a.btn-default-dark.arrow-right:after,
a.btn-text.calendar:before,
a.btn-text.mobile:before,
a.btn-default-light,
a.btn-default-light:before,
header address a:after,
a.btn-text.calendar:hover:before,
a.btn-text.mobile:hover:before {
    color: inherit;
}

a.mobile:before,
a.btn-default-dark.calendar:before {
    margin-right: 0;
}

footer a.btn-default-dark.calendar:before {
    margin-right: 5px;
}

header.layout-header-b-wrapper .btn-default-dark,
.footer-container .appointment-box a.btn-default-dark.calendar {
    padding: 0.213rem 0.488rem;
    overflow: hidden;
}

.site-main article {
    margin-right: 0;
}

.schedule-online .content a.btn-default-dark {
    padding: 0.625rem 1rem;
}

a.btn-default-light.load-more {
    text-transform: uppercase;
    margin-bottom: 0 !important;
}

/*Button Text Color*/
a.btn-default-dark,
a.btn-flat-dark,
a.btn-default-light,
a.btn-default-light:before,
a.btn-default-dark.calendar:hover:before,
a.btn-default-dark.arrow-right:hover:after,
.layout-header-b-wrapper a.btn-default-dark.calendar:before,
.layout-header-b-wrapper a.btn-default-dark.arrow-right:after,
.footer-container .appointment-box a.btn-default-dark.calendar,
.footer-container .appointment-box a.btn-default-dark.calendar:hover,
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.ebook-fullwidth-container .ebook-services form ._submit,
.gform_wrapper .gform_footer .gform_button span {
    color: #fff !important;

}


.search-submit .screen-reader-text {
    font-weight: 400;
}

.search-submit {
    background: #979642;
}

.search-form:hover .search-submit,
.search-form:active .search-submit,
.search-form:focus .search-submit,
.search-submit:hover,
.search-submit:focus {
    background: #7c7b29;
}

.search-submit .screen-reader-text {
    color: #fff;
}

/* ====================================================
  HEADER
=====================================================*/
header.layout-header-b-wrapper .top-header-wrapper,
header.layout-header-b-wrapper .top-header-wrapper .swm-search-wrapper,
.main-navigation,
.main-navigation ul {
    background: #85837c;
}

header.layout-header-b-wrapper .links span a.link-btn {
    color: #fff;
    opacity: 1;
}

header.layout-header-b-wrapper .links span {
    margin: 0;
}

header.layout-header-b-wrapper .links span+span {
    margin-left: 6px;
    padding-left: 6px;
}

header.layout-header-b-wrapper .links span a.link-btn:hover {
    color: #a9b385;
    opacity: 1;
}

header.entry-header.has-subtitle h1 {
    margin-bottom: 20px;
}

header.layout-header-b-wrapper .menu-item-has-children:before {
    padding-top: 0.65rem;
}

header.layout-header-b-wrapper .header-wrapper {
    border-bottom: 2px solid #85837c;
}

.layout-header-b-wrapper .header-wrapper {
    position: relative;
}

.site.left-menu:not(.open-menu) {
    left: 0 !important;
}

header.layout-header-b-wrapper .header-wrapper .row {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}
.sticky-header-activated header.layout-header-b-wrapper .header-wrapper .row {
    padding-top: 10px;
    padding-bottom: 10px;
}

header.layout-header-b-wrapper .contact-details {
    margin-bottom: 0;
    margin-top: 0;
}

/*Menu*/
ul.menu {
    padding-left: 0;
}

ul.menu li a:after {
    display: none;
}

ul.menu li a,
.menu-item-has-children:before {
    color: #fff;
}

ul.menu li:hover,
ul.menu li:hover ul li {
    background: #53524d;
    color: #fff;
}

ul.menu li>ul li:hover a {
    background: #85837c;
}

ul.menu li>ul ul li:hover a {
    background: #53524d;
}

ul.menu li:hover>ul li:hover>ul li:hover>ul li:hover a {
    background: #85837c;
}

#toggle-menu ul li>ul a:active {
    background: rgba(256, 256, 256, .2) !important;
}

#toggle-menu .position-relative {
    position: initial;
}

.site.mobile-view.right-menu.open-menu .sticky,
.site.mobile-view.left-menu.open-menu .sticky {
    position: initial !important;
    overflow-y: scroll !important;
}

/*.open-menu .main-content {
  z-index: 0!important;
  position: initial;
}
body #page.left-menu #toggle-menu {
  overflow-y: auto!important;
} */

.site-header.is_stuck {
    left: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.site.mobile-view.left-menu.open-menu,
.site.mobile-view.left-menu.open-menu .site-header.is_stuck {
    left: 27.500rem;
}

/*Social Media*/
header.layout-header-b-wrapper .top-header-wrapper .social-icon-container ul.social-icons .fa,
.social-icons .fa {
    color: #656e41;
    background-color: #fff;
}

header.layout-header-b-wrapper .top-header-wrapper .social-icon-container ul.social-icons .fa:hover,
.social-icons .fa:hover {
    opacity: 1;
    color: #fff;
    background-color: #A9B385;
}

header.layout-header-b-wrapper .contact-details a.btn-text.large {
    color: #050319;
}

header.layout-header-b-wrapper {
    border-bottom: 0;
}

.sticky-header-activated header.layout-header-b-wrapper {
    border-bottom: 2px solid #fff;
}

header.layout-header-b-wrapper .top-header-wrapper .swm-search a:before {
    color: #fff;
}

.swm-search:hover a:before {
    color: #656e41 !important;
}

/* ====================================================
  HEADER (child theming)
=====================================================*/
header.layout-header-b-wrapper img.logo {
    max-width: 70px !important;
    width: 70px !important;
}

header.layout-header-b-wrapper .header-wrapper i.fa.fa-mobile {
    padding-right: 0;
}

/* .sticky-header-activated header.layout-header-b-wrapper .logo {
    max-width: 110px;
    width: 110px;
} */
header.entry-header.margin-bottom {
    margin-bottom: 0 !important;
}

/* ====================================================
  Menu
=====================================================*/
.menu-item-has-children:before {
    width: 19px;
}

ul.menu li.menu-item-has-children a {
    padding-right: 25px;
}

header.layout-header-b-wrapper ul.menu li>a {
    font-size: 14px;
}

.left-menu #toggle-menu {
    background: #85837c;
    overflow: hidden;
}

#toggle-menu a.menu-title-bar,
#toggle-menu ul li a {
    border-bottom: 1px solid #63625d;
}

.submenu-icon {
    background: #5d5b55;
    height: 42px;
}

/* ====================================================
  Banner 1
=====================================================*/
.schedule ul.swm-bh.short li {
    color: #fff;
}

.banner-1.dark-palette .banner-text-content ul li {
    display: list-item;
    padding: 0px;
    margin: 0px;
}

.banner-1.dark-palette .schedule ul.swm-bh.short li span.day {
    text-align: right;
    margin-right: 5px;
}

.banner-1.dark-palette .banner-text-content ul li,
.banner-1.dark-palette .banner-text-content p,
.single-testimonial .testimonial-video-text blockquote p,
.testimonial-video-text blockquote p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.375rem;
}

.banner-1 .schedule-online .content p {
    margin-top: 0.813rem;
    font-weight: bold;
    font-style: italic;
}

.banner-1 .schedule-online .footer {
    padding: 0.813rem 15px;
    background: #53524e;
    background-color: #53524e;
}

.banner-1 .col-md-6,
.banner-1 .col-sm-6 {
    width: 100% !important;
    float: none !important;
}

.banner-1 .col-md-6.banner-1-left.banner-1-matchHeight {
    display: initial
}

.banner-1 .col-md-6.banner-1-left.banner-1-matchHeight,
.banner-1 .col-md-6.banner-1-right.banner-1-matchHeight {
    height: initial;
}


/* ====================================================
  Innerpage Banner
=====================================================*/
#innerpage-banner-bullet-desktop ul.innerpage-banner-list {
    margin-top: 0;
    margin-left: 0px;
    padding-left: 20px;
    left: 0;
}

.innerpage-banner-e h1,
.innerpage-banner-e .header-title {
    margin-bottom: 10px;
}

.innerpage-banner-a .schedule-online a.btn-text:hover {
    color: #51412d;
}

/* ====================================================
  InnerPage Banner E
=====================================================*/
.innerpage-banner-a .innerpage-text-content ul,
.innerpage-banner-b .innerpage-text-content ul {
    text-align: left;
    list-style: outside;
    display: inline-block;
}

.innerpage-banner-a .innerpage-text-content ul li,
.innerpage-banner-b .innerpage-text-content ul li {
    text-align: left;
    list-style: outside !important;
}

.innerpage-banner-a .innerpage-banner-container .col-md-7 {
    padding: 0 15px;
}

.innerpage-banner-a.dark-palette .innerpage-banner-container {
    height: auto;
    min-height: 400px;
    display: table;
    width: 100%;
    padding: 50px 0;
}

.innerpage-banner-a.dark-palette .container.absolute-center {
    width: 100%;
    max-width: 1170px;
    position: relative !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    -ms-transform: translate(0, 0) !important;
    -webkit-transform: translate(0, 0) !important;
    -moz-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
    display: table-cell;
    vertical-align: middle;
}

/* ====================================================
  Generic Module A
=====================================================*/
.generic-content-a .section-box {
    height: auto;
    padding: 40px 0;
}

.mod-content-fullwidth h1,
.mod-content-fullwidth h3 {
    color: #040218;
}

.generic-content-a .mod-content-fullwidth p,
.generic-content-a .mod-content-fullwidth ul,
.generic-content-a .mod-content-fullwidth ul li,
.generic-content-a .mod-content-fullwidth ol,
.generic-content-a .mod-content-fullwidth ol li {
    font-size: 16px;
    line-height: 22px;
}

.generic-content-a.current-theme .mod-content-fullwidth ul,
.generic-content-a.current-theme .mod-content-fullwidth ol {
    text-align: center;
    display: inline-block;
}

.generic-content-a .mod-content-fullwidth ul li,
.generic-content-a .mod-content-fullwidth ol li {
    text-align: left
}

.generic-content-a .mod-content-fullwidth {
    width: 100%;
}

.badge-cobb {
    max-width: 150px;
    width: 100%;
}


/* ====================================================
  Generic Module C
=====================================================*/
.generic-content-c .left-col {
    padding-top: 60px;
    padding-bottom: 30px;
}

/* ====================================================
  Generic Module D
=====================================================*/
.generic-content-d.dark-palette h1,
.generic-content-d.dark-palette h2,
.generic-content-d.dark-palette h3,
.generic-content-d.dark-palette {
    color: #040218;
}

.generic-content-c.dark-palette .generic-content h3,
.generic-content-d.dark-palette .generic-content h3 {
    font-size: 30px;
    line-height: 32px;
}

.generic-content-d {
    padding: 80px 0;
    height: initial;
    min-height: initial;
}

.generic-content-d .left-col {
    padding: 0 15px;
}

.generic-content-d .generic-content {
    margin-top: 20px;
}


/* ====================================================
  BirdEye
=====================================================*/
.birdeye h3,
.birdeye .section-title {
    margin-top: 0;
    color: #fff;
    display: block;
}

.birdeye-section.generic-main-content {
    background: #e4e3e0;
    background-color: #e4e3e0;
    padding: 50px 0 30px;
}

.video-main-container+.birdeye-section.generic-main-content .container {
    padding-top: 0;
}

.video-main-container h3 {
    text-align: center;
    margin-bottom: 30px;
}

/* ====================================================
  Meet the Team/Meet the Doctor
=====================================================*/
.meet-the-team-content a.transcript-btn,
.team-container.doctor-container a.transcript-btn,
.generic-main-content a.transcript-btn.open-popup-link {
    background: #8a9758;
    color: #fff;
}

.meet-the-team-content a.transcript-btn:hover,
.team-container.doctor-container a.transcript-btn:hover,
.generic-main-content a.transcript-btn.open-popup-link:hover {
    background: #a9b385;
    color: #fff;
}

.team-container .img-container {
    margin-bottom: 0;
}

.team-container .text-container {
    padding-bottom: 32px;
    margin-bottom: 32px;
}

.team-position {
    color: #7da6ae;
    font-weight: 700;
}

.doctor-overview.light-palette .list-item .item-title,
.doctor-overview.light-palette .list-item h1,
.doctor-overview.light-palette .list-item h3,
.doctor-overview.light-palette h1 {
    font-size: 28px;
    line-height: 30px;
    color: #040218;
    display: inherit;
    text-align: center;
    padding: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.doctor-overview.light-palette.current-theme {
    background-color: #fff;
    background: #fff;
}

.doctor-overview.light-palette .list-item a {
    display: inline;
}

.circle-container .list-item .item-title-container a:hover .item-title {
    color: #a9b385;
}

.doctor-overview .section-title,
.doctor-overview h1 {
    display: block;
    margin-bottom: 30px;
    text-align: center;
}

.doctor-overview .item-content-container {
    margin-bottom: 20px;
}

.doctor-overview.light-palette .list-item a {
    color: #8a9758;
}

.doctor-overview.light-palette .list-item a:hover {
    color: #a9b385;
}

.doctor-intro-multiple.dark-palette h1 {
    color: #040218;
}

.doctor-intro-multiple .section-box {
    padding: 70px 0;
}

.doctor-intro-multiple+.doctor-intro-multiple .section-box {
    padding-top: 0px;
}

.doctor-overview .list-item {
    margin-bottom: 30px;
}

.doctor-overview .list-item:last-of-type {
    margin-bottom: 0;
}

/* ====================================================
  Featured Links
=====================================================*/
.featured-links-a ul.featured-links-list .featured-item {
    background: #a9b385;
    background: -webkit-linear-gradient(top, #a9b385 20%, #8a9758 80%);
    background: -webkit-linear-gradient(top, #a9b385 0%, #8a9758 100%);
    background: linear-gradient(to bottom, #a9b385 0%, #8a9758 100%);
    filter: progid:DXImageTransform.Microsoft.gradient (startColorstr='#a9b385', endColorstr='#8a9758', GradientType=0);
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.featured-links-a ul.featured-links-list .featured-item:after {
    background: #8a9758;
    background: -webkit-linear-gradient(top, #8a9758 20%, #656e41 80%);
    background: -webkit-linear-gradient(top, #8a9758 0%, #656e41 100%);
    background: linear-gradient(to bottom, #8a9758 0%, #656e41 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a9758', endColorstr='#656e41', GradientType=0);
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.featured-links-a ul.featured-links-list .featured-item a,
.featured-links-a ul.featured-links-list li a .icon {
    color: #fff;
}

/* ====================================================
  Featured Services
=====================================================*/
.home .featured-services-type2.light-palette {
    background-color: #85837c;
}

.niche-duo-blocks .mod-content-fullwidth h1,
.niche-blocks .mod-content-fullwidth h3 {
    color: #fff;
    margin-bottom: 20px;
}

.featured-services-type2.light-palette .mod-content-fullwidth,
.featured-services-type2.light-palette .mod-content-fullwidth p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.niche-blocks .fs-list-type2 .list-item .content {
    background: #dce4df;
}

.niche-blocks .section-box {
    padding: 55px 0;
}

.trio-blocks-b .list-item .block-icon .fa,
.trio-blocks-b .list-item .block-icon .fa:hover,
.trio-blocks-b .fs-list-type2 .list-item .content .title,
.trio-blocks-b .fs-list-type2 .list-item .content p {
    color: #fff;
}

.trio-blocks-b .fs-list-type2 .list-item .content {
    padding: 24px 15px 0;
}

:not(.home) .trio-blocks-b .fs-list-type2 {
    padding: 40px 0;
}

:not(.home) .trio-blocks-b .block-icon img {
    width: 100%;
    max-width: 230px;
}

/* ====================================================
  Niche Trio Block D
=====================================================*/
/* .niche-blocks.trio-blocks-d .fs-list-type2 {
  margin-top: 30px;
} */
/* .trio-blocks-d .container {
  max-width: 1170px;
} */
.niche-blocks.trio-blocks-d .swm-col-3 .list-item {
    background-position: top center;
    float: left;
    display: inline-block;
}

.niche-blocks.trio-blocks-d .swm-col-3 .list-item:before {
    background-color: #f4f5ee;
}

/* ====================================================
  All Services
=====================================================*/
.all-services ul.service-names {
    padding: 0;
}

.all-services ul.service-names li a {
    color: #fff;
}

.all-services ul.service-names {
    column-rule-color: #fff;
    color: #fff;
}

.all-services span.section-title {
    display: block;
    margin-bottom: 20px;
    color: #fff;
}



/* ====================================================
  Tour our Office A
=====================================================*/
.tour-office-teaser-a-carousel .owl-dots .owl-dot {
    display: none;
}

.tour-office-teaser-a-carousel .slider-img:before {
    background: rgba(80, 65, 45, 0.3);
}

.tour-office-teaser-a-carousel .owl-nav .owl-next,
.tour-office-teaser-a-carousel .owl-nav .owl-prev {
    display: none;
}


/* ====================================================
  Tour our Office B
=====================================================*/
.tour-office-teaser-compact .mod-content-fullwidth h1,
.tour-office-teaser-compact .mod-content-fullwidth h3,
.tour-office-teaser-compact .mod-content-fullwidth p {
    color: #040218;
}

/* ====================================================
  Tour our Office C
=====================================================*/
.tour-office-teaser-c {
    background: #e4e3e0 !important;
    padding: 100px 0;
}

.tour-office-teaser-c .owl-theme .owl-nav [class*=owl-] {
    color: #fff;
    background: #8a9758;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.tour-office-teaser-c .owl-theme .owl-nav [class*=owl-]:hover {
    background: #a9b385;
}


/* ====================================================
  Info Bar
=====================================================*/
.review-us-all-compact .read-review a:hover {
    opacity: 0.8;
    color: #fff;
}

.contact-info-bar .contact-info-bar-multiple-entity .schedule ul.swm-bh.short li {
    text-align: left;
}

.contact-info-bar .appointment-box address a {
    font-weight: 700;
}

.contact-info-bar .appointment-box a.btn-default-dark {
    padding: 10px 15px;
}

.contact-info-bar .contact-info-bar-multiple-entity .schedule ul.swm-bh.short li {
    display: inline-block;
    width: auto;
}

.contact-info-bar .appointment-box .schedule ul.swm-bh.short {
    column-gap: 0 !important;
}

/* ====================================================
  Smile Gallery
=====================================================*/
.smile-con .fa {
    background: #7da6ae;
}

.gallery-head {
    background: #a9b385;
    position: absolute;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.smile-gallery-slider a:hover .gallery-head {
    opacity: 1;
}

.gallery-head.after {
    background: #8a9758;
}

.gallery-single-outer .smile-overlay-text {
    opacity: 1;
    background: #a9b385;
}

.gallery-single-outer .smile-overlay-text.after {
    opacity: 1;
    background: #8a9758;
}

.smile-gallery-slider .gallery-single-outer span {
    z-index: 0;
}

.smile-gallery-slider.light-palette {
    background: #e4e3e0;
}

.smile-gallery-slider .owl-theme .owl-nav [class*=owl-] {
    color: #8a9758;
}

.smile-gallery-slider .owl-theme .owl-nav [class*=owl-]:hover {
    color: #a9b385;
}

.smile-gallery-slider .gallery-single-outer span.smile-overlay:after {
    background-color: rgba(228, 227, 224, 0.8);
}

.smile-gallery-slider a:hover .gallery-single-outer span.smile-overlay:after {
    background-color: rgba(228, 227, 224, 0);
}




/* ====================================================
  Rate Us A
=====================================================*/
.review-us-all-compact,
.rate-us-b-dark,
.rate-us-large,
.birdeye-a.dark-palette,
.birdeye-b.dark-palette

/*BirdEye Background*/
    {
    background: #8a9758 !important;
}

.review-us-all-compact .read-review {
    border-color: #fff !important;
}

.birdeye-b+.review-us-all-compact {
    padding-top: 0;
}

.review-us-all-compact .rate-us span {
    padding-left: 0;
}

/* ====================================================
  Footer
=====================================================*/
.site-footer {
    position: relative;
    z-index: 1;
}

.footer-container {
    padding: 50px 0 20px 0;
}

.footer-container .widget {
    padding: 0;
}

.footer-container .widget h4,
.footer-container .widget p,
.privacy-section .privacy-holder p a,
.footer-container .widget .latest-blogs p,
.footer-container .widget .office-hours .schedule,
.copyright p,
.copyright p a,
.footer-container .appointment-box .title {
    color: #fff;
}

.footer-container .widget .latest-blogs a.read-more-arrow-right {
    color: #fff;
}

.footer-container .widget .latest-blogs a.read-more-arrow-right:after,
.footer-container .widget .latest-blogs a.read-more-arrow-right:hover:after {
    color: inherit;
}

.footer-container .widget .latest-blogs a.read-more-arrow-right:after {
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    transition: all 0s ease;
}

.footer-container ul,
.footer-container ol {
    margin-left: 0;
    padding-left: 0;
}

.footer-container .col-container .col-md-3 {
    border-color: #fff;
}

.footer-container .widget .latest-blogs .title {
    margin-bottom: 10px;
    line-height: 16px;
}

.footer-container .widget .latest-blogs .title a {
    color: #fff;
}

.footer-container .appointment-box span.tel a {
    color: #fff;
}

.footer-container .widget .widget {
    padding: 0 !important;
}

footer .site-branding {
    margin-bottom: 20px;
}

footer .site-branding img {
    width: 100%;
    max-width: 120px;
}

footer .footer-menu-container ul.menu li a {
    color: #fff;
    display: inline-block !important;
}

footer .footer-menu-container ul.menu li {
    border-color: #fff;
    padding: 0;
    line-height: 1.375rem !important;
}

.footer-container .col-container .col-md-3 {
    border-color: #fff !important;
}

footer .footer-container .col-container {
    padding: 0 20px;
}

footer .footer-container .widget .office-hours .schedule {
    column-count: 1;
}

footer .footer-container .widget .office-hours .schedule ul li {
    text-align: left;
}

.footer-container .widget .office-hours .schedule ul li span.day {
    margin-right: 3px;
}

.footer-container .widget address {
    font-weight: 700;
}

.footer-container .widget address a {
    color: #fff;
}

/* ====================================================
  Blogs/Search
=====================================================*/
.blog span.entry-title a,
.search span.entry-title a {
    font-weight: 400;
}

.single header.entry-header h1.entry-title {
    margin-bottom: 0 !important;
}


/* ====================================================
  Contact Us
=====================================================*/
.primary-sidebar address {
    background: #8a9758;
    margin-bottom: 0;
    text-align: center;
    padding: 7px 15px;
    line-height: 1.375rem;
}

.primary-sidebar iframe {
    width: 100%;
    border: 1px solid #8a9758 !important;
}

.primary-sidebar section {
    margin-bottom: 30px;
}

.page-template .gform_wrapper .top_label .gfield_error,
.page-template .gform_wrapper div.validation_error {
    width: 100% !important;
}

#sidebar .office-hours ul {
    padding-left: 0;
}

#sidebar address,
#sidebar address a {
    color: #fff;
}

#sidebar address a:hover {
    color: #fff;
    opacity: 0.8;
}

.entry-content-new #field_1_7 label {
    position: relative;
}

.entry-content-new ul,
.entry-content-new ol {
    position: relative;
    left: 0;
    padding-right: 0;
}

.entry-content-new ul.gform_fields,
.entry-content-new ul.gfield_radio {
    padding-left: 0;
    left: 0;
}

.entry-content-new #field_1_7 label:after {
    content: "*";
    margin-left: 3px;
    color: #790000;
}

.page-template-contact-us-template .entry-content-new ul {
    left: 0 !important;
}

/* ====================================================
  Patient Resource
=====================================================*/
.link-list {
    margin-top: 20px;
}

/* ====================================================
  Feedback
=====================================================*/
.feedback-content {
    margin-top: 20px;
}

.feedback-content img {
    margin-right: 10px;
    margin-bottom: 10px;
}


/* ====================================================
  Testimonials
=====================================================*/
.testimonial-video-text a.readmore {
    text-transform: capitalize;
    font-weight: 700;
}

.testimonial-video-text a.readmore:after {
    font-weight: 400;
}

.testimonial-video-text .item {
    margin-bottom: 0;
}

.text-video-container {
    margin-bottom: 32px;
    padding-bottom: 32px;
}

.single-testimonial blockquote p:first-child:before,
.single-testimonial blockquote p:last-child:after {
    color: #7da6ae;
}

/* .testimonial-video a.popup-video:hover .testimonial-title  {
  bottom: initial!important;
} */
.page-template-testimonial-template .testimonial-video-text blockquote p {
    position: relative;
}

.page-template-testimonial-template .testimonial-video-text blockquote p:after {
    content: "*"
}

.testimonial-video-text .text-container {
    width: 83%;
}

.content-area .text-video-container .alignleft,
.content-area .text-video-container .alignright {
    width: auto;
}

.single-testimonial .testimonial-video-text .item {
    max-width: 100%;
    float: none;
    margin-right: 0;
}

.video-main-container {
    background-color: #ccc;
}

.testimonial-video-main-container {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #e4e3e0;
}

.testimonial-video-main-container .container {
    padding-bottom: 0 !important;
}

.page-template-testimonial-template .testimonial-video-text blockquote h3,
.page-template-testimonial-template .testimonial-video-text blockquote p {
    color: #fff;
}

.page-template-testimonial-template .testimonial-video-text blockquote span.left-quote .fa {
    color: #DCD78F;
}

.list-testimonial-section .testimonial-video-text a.popup-video i.play-icon {
    left: 83%;
    top: 85%;
}

.page-template-testimonial-template .testimonial-video {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
}

.page-template-testimonial-template .fa-play:before {
    content: "\f144" !important;
}

/* .page-template-testimonial-template .popup-video i.play-icon,  */
.page-template-testimonial-template .popup-testimonial i.play-icon {
    top: 43%;
}

.page-template-testimonial-template .popup-video i.play-icon {
    top: 65%;
    left: 88%;
}

.page-template-testimonial-template .popup-video .tbl {
    display: block;
}

.page-template-testimonial-template .tbl .tbl-cell {
    display: block;
    padding-right: 60px;
    text-align: left;
}

.page-template-testimonial-template .testimonial-video .testimonial-title {
    /* top: 68%; */
    opacity: 0;
}

.page-template-testimonial-template .testimonial-video a.popup-video:hover .testimonial-title {
    opacity: 1;
}

.page-template-testimonial-template .video-main-container .container {
    padding-top: 40px;
    max-width: 340px;
}

.page-template-testimonial-template .transcript-link {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 333;
}

.page-template-testimonial-template .testimonial-video .transcript-btn {
    font-size: 14px;
    font-size: 14px;
    background-color: #8a9758;
    background: #8a9758;
    color: #fff;
}

.page-template-testimonial-template .testimonial-video .transcript-btn:hover {
    background-color: #a9b385;
    background: #a9b385;
}

.single-testimonial .testimonial-video-text .item.video-only {
    max-width: 300px;
    float: none;
    margin: 0 !important;
}

.testimonial-video {
    border-bottom: 0 !important;
}

.testimonial-video-main-container .testimonial-video .item {
    max-width: 212px;
    width: 100%;
}

/* ====================================================
  Videos
=====================================================*/
.generic-main-content .popup-video i.play-icon,
.generic-main-content .popup-testimonial i.play-icon {
    background: none;
    padding: 0;
}

.video-wrapper {
    position: relative;
    z-index: 2;
}

.video-wrapper a.popup-video .video-title-v2 {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    opacity: 0;

    padding: 0px 50px 0 15px;
    height: initial !important;
    top: initial;
    bottom: 11px;
    left: 0;
}

.video-wrapper a.popup-video .video-title-v2 {
    bottom: 11px !important;
    opacity: 1;
}

.video-title-v2 .tbl {
    display: inline-block !important;
}

/* .video-title-v2 .tbl-cell {
  text-align: left;
  opacity: 1!important;
} */
.video-wrapper a.popup-video:hover .video-title-v2 {
    opacity: 1;
}

span.left-quote .fa {
    color: #7da6ae;
}

a.team-video:hover .fa-play-circle {
    color: #fff;
}

a.team-video:before,
.popup-video:after,
.popup-testimonial:after,
.testimonial-video a.popup-video:after,
.testimonial-video a.open-popup-link:after {
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

a.team-video:hover:before,
.popup-video:hover:after,
.popup-testimonial:hover:after,
.testimonial-video a.popup-video:hover:after,
.testimonial-video a.open-popup-link:hover:after {
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
}

.video-transcribe-container .header-title {
    font-size: 1.5rem !important;
    line-height: 1.875rem !important;
}

.video-title-v2 .tbl-cell {
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

a.popup-video:hover .video-title-v2 .tbl-cell {
    opacity: 1;
}

.mfp-close-btn-in .mfp-inline-holder .mfp-close {
    color: #fff;
    top: -40px;
    right: -15px;
    z-index: 9999;
}

.popup-offer .mfp-close,
.popup-offer .custom-back {
    background: #85837B;
    top: 0px !important;
    right: 0px !important;
}


.popup-content,
.mfp-content .inline-content {
    overflow: initial;
}

.ie .popup-content,
.ie .mfp-content .inline-content {
    overflow: inherit;
    z-index: 1;
}

.content-area .alignleft,
.content-area .alignright {
    float: none !important;
}

.single iframe[src*="https://create.piktochart.com/"],
.single iframe[src*="https://magic.piktochart.com/"] {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    display: block;
}

.single iframe[src*="https://www.onlineassessmenttool.com/"],
.single iframe[src*="https://www.onlinequizcreator.com/"] {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
}

.popup-video.hover .video-title-v2 {
    bottom: 0;
}

.content .video-wrapper.alignright,
.content .video-wrapper.alignleft {
    width: 100%;
}

/* ====================================================
  FAQ
=====================================================*/
.faq-content ul.list-question {
    font-size: inherit;
    margin: 0 0 20px;
    list-style: none;
    padding-left: 40px;
    left: 0;
}

.faq-content ul.list-question>li a:before {
    content: 'Q: ';
}


.faq-content ul.list-question li {
    list-style: none;
    font-size: 20px;
    line-height: 24px;
    padding-top: 0;
}

ul.faq-list {
    padding-top: 0;
}

.faq-content .question-title span.q,
.faq-content .question-title span.qw {
    font-size: 26px;
    line-height: 28px;
    color: #040218;
}

ul.faq-list {
    left: 0 !important;
    padding-right: 0 !important;
}

/* ====================================================
  Inline Shortcode
=====================================================*/
.play-btn-wrapper {
    position: relative;
    text-align: center;
}

.play-btn-wrapper a {
    padding: 15px 0 15px 0;
    font-size: 22px;
    padding: 0;
    color: #dcd78f;
}

.play-btn-wrapper a:hover {
    color: #c2be7a;
}

.play-btn-wrapper a i {
    width: auto;
    margin-bottom: 10px;
    display: inline;
    font-size: 27px;
    float: none;
    padding-right: 3px;
    position: relative;
    bottom: -2px;
}

.play-btn-wrapper a.popup-video {
    position: relative;
    overflow: hidden;
    display: inline-block;
    float: none;
    margin-bottom: 10px;
}

.play-btn-wrapper a.popup-video:after {
    display: none;
}

.play-btn-wrapper a.inline-popup-link {
    font-size: 20px;
}

.featured-services-type2 .section-title {
    color: #fff;
    display: block;
    margin-bottom: 20px;
}

/* ====================================================
  Office C
=====================================================*/
.testimonial-featured-slider-a .owl-carousel.carousel-thumbnail .item,
.testimonial-featured-slider-a .owl-carousel.carousel-thumbnail .owl-item {
    background: #e4e3e0;
}

.testimonial-featured-slider-a .owl-carousel .owl-item img {
    margin: 0 3px;
}

/* ====================================================
  Loading Screen
=====================================================*/
.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dce4df;
    z-index: 999999;
}

.spinner {
    position: absolute;
    top: 48%;
    left: 48%;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner>div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {

    0%,
    40%,
    100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/* ====================================================
  Ebook
=====================================================*/
.ebook-fullwidth-container.dark-palette {
    background: #8a9758;
}

.ebook-fullwidth-container .ebook-title2,
.ebook-fullwidth-container .ebook-services p {
    color: #fff;
}

/** New patient Assistant **/
.banner-1 .offer-wrapper {
    background: #7da6af;
    padding: 13px 30px 3px 38px;
    position: relative;
    display: inline-block;
    width: auto !important;
    box-sizing: content-box;
    margin-bottom: 0px;
    max-width: 100%;
    float: left;
    border-left: 54px solid #d5ded9;
}

.banner-1 .offer-wrapper:before {
    content: "\f067";
    position: absolute;
    color: #7da6af;
    font-family: fontawesome;
    font-size: 40px;
    left: -8%;
    top: 50%;
    z-index: 99;
    -ms-transform: translate(-8%, -50%);
    -webkit-transform: translate(-8%, -50%);
    -moz-transform: translate(-8%, -50%);
    -o-transform: translate(-8%, -50%);
    transform: translate(-8%, -50%);
}

.banner-1 .offer-wrapper:after {
    content: "";
    position: absolute;
    background: #d5ded9;
    width: 39px;
    height: 52px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
    left: -24px;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.banner-1 .offer-wrapper span {
    color: #fff;
    font-size: 21px;
    font-weight: 700 !important;
    line-height: 24px;
    margin-bottom: 5px;
}

.banner-1 .offer-wrapper p {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 15px;
    font-weight: 400;
}

.banner-1 .col-md-6.banner-1-left.banner-1-matchHeight {
    position: relative;
    display: table;
}

.banner-1-matchHeight .banner-text-content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}


.iframe-e-wrapper iframe {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    display: block;
    margin-bottom: 18px;
}

.dental-plan-container {
    margin-top: 20px;
}

.plan-title {
    font-size: 28px;
    line-height: 30px;
    font-weight: 700;
    padding: 10px 20px;
    color: #fff;
    background: #51412d;
}

.plan-savings {
    background: #dcd78f;
    padding: 10px 20px;
}

.dental-plan {
    margin-bottom: 20px;
}

.plan-savings ul {
    list-style: none;
    left: 0 !important;
    position: relative;
    margin: 0;
    padding: 0;
}

.plan-savings ul li {
    display: inline-block;
    width: 100%;
}

.plan-savings ul.two-link li:first-child {
    border-right: 0px #000 solid;
    margin-bottom: 10px;
}

.plan-savings ul.two-link li:last-child {
    padding-left: 0px;
}

.plan-savings .dental-amount {
    font-weight: 700;
}

.dental-plan-content {
    background: #7da6ae;
    color: #fff;
    padding: 20px;
}

.site-content .review-us-all-compact .read-review a,
.site-content .review-us-all-compact .rate-us span,
.birdeye .section-title {
    font-size: 1.75rem;
}

/*SEO*/

.page-template-seo-landing-page .seo-lp-module.static-banner .content h1,
.page-template-seo-landing-page .seo-lp-module.static-banner .content h3,
.page-template-seo-landing-page .seo-lp-module.static-banner .content .header-title,
.page-template-seo-landing-page .seo-lp-module.static-featured-column .content .title,
.page-template-seo-landing-page .seo-lp-module.static-featured-column .content p,
.page-template-seo-landing-page .seo-lp-module.static-banner .content p,
.page-template-seo-landing-page .seo-lp-module.static-doctor-staff .list-item .item-title,
.page-template-seo-landing-page .seo-lp-module.static-doctor-staff .list-item p {
    color: #040218;
}

.page-template-seo-landing-page .seo-lp-module.static-doctor-staff {
    background-color: #e4e3e0;
}

.testimonial-featured-slider-b .slider-text p,
.testimonial-featured-slider-b .slider-text p:before {
    color: #fff;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #8a9758;
}

.page-template-seo-landing-page header.entry-header h2 {
    margin-bottom: 20px;
}

.page-template-seo-landing-page .seo-lp-module.static-testimonial {
    background: #53524e;
}

.page-template-seo-landing-page .owl-theme .owl-dots .owl-dot span {
    border: 1px solid #8a9758;
}

.two.doctor-overview .circle-container.swm-col-3 .list-item {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
}

.doctor-overview .circle-container .list-item-img {

    border: 2px solid #e4e3e0;
}

.page-template-seo-landing-page .seo-lp-module.static-banner .appointment-box a.disable-tel,
.page-template-seo-landing-page .seo-lp-module.static-banner .appointment-box a {
    color: #8a9758;
}

.page-template-seo-landing-page .seo-lp-module.static-banner .appointment-box a:hover {
    color: #a9b385;
}

/*Offer*/
.offer-event.offer-module .list-item,
.offer-event.offer-module .list-item.offer-event-b,
.offer-event.offer-module .list-item.offer-event-c,
.offer-event.offer-module .offer-event-d .content-spacer .event-info-campaign,
.offer-event.offer-module .offer-event-d .event-info-campaign-footer {
    background-color: #e4e3e0;
}

.offer-event.offer-module .content:before,
.offer-event.offer-module .offer-event-b .content:before {
    background-color: #53524e;
}

.offer-event-a .event-info-campaign-footer {
    padding: 10px 10px 10px 40px;
}

.offer-event,
.offer-event.offer-module .offer-event-d h4,
.offer-event.offer-module .offer-event-d .event-price .info,
.offer-event.offer-module .event-promo-ends,
.offer-event.offer-module .event-disclaimer a {
    color: #040218;
}

.offer-event.offer-module .offer-event-d .event-price,
.offer-event.offer-module .offer-event-d .event-price .info,
.offer-event.offer-module .offer-event-b .event-price {
    background: #8a9758;
    color: #fff;
}

.offer-event.offer-module .event-disclaimer a:hover {
    color: #a9b385;
}

.offer-event.offer-module .offer-event-d .event-price {
    margin: 0;
    padding-left: 40px;
}

.popup-offer .event-price {
    color: #a9b385;
}



/* Child Style */

/***** Innerpage Banner Button Icon Color (Customize) *****/
a.btn-default-light.calendar:hover,
a.btn-default-light.arrow-right:after,
a.btn-default-light.calendar:before,
a.btn-default-light.arrow-right:after,
a.btn-default-light.calendar:hover:before,
a.btn-default-light.arrow-right:hover:after,
a.btn-default-light.calendar:before,
a.btn-default-light.arrow-right:after {
    color: #fff !important;
}

.footer-container .appointment-box a.btn-default-dark.calendar {
    font-size: 13px;
    padding: 6px 23px;
    margin-top: 5px;
    margin-bottom: 15px;
}



/* ====================================================
    FEATURED LINKS MODULE
=====================================================*/
/***** Featured Links Background Color and Pipe Color *****/
.featured-links-a ul.featured-links-list .featured-item {
    background: #f1b67c;
    background: -webkit-linear-gradient(top, #f1b67c 20%, #ed9b4c 80%);
    background: -webkit-linear-gradient(top, #f1b67c 0%, #ed9b4c 100%);
    background: linear-gradient(to bottom, #f1b67c 0%, #ed9b4c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient
    (startColorstr='#f1b67c', endColorstr='#ed9b4c', GradientType=0 );
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

/***** Featured Links Text Color *****/
.featured-links-a ul.featured-links-list .featured-item a {
    color: #fff;
}

/***** Featured Links Icon Color *****/
.featured-links-a ul.featured-links-list li a .icon {
    color: #fff;
}

/***** Featured Links Background Color and Pipe HoverColor *****/
.featured-links-a ul.featured-links-list .featured-item:hover {
    background: #ed9b4c;
    background: -webkit-linear-gradient(top, #ed9b4c 20%, #ad7138 80%);
    background: -webkit-linear-gradient(top, #ed9b4c 0%, #ad7138 100%);
    background: linear-gradient(to bottom, #ed9b4c 0%, #ad7138 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed9b4c', endColorstr='#ad7138', GradientType=0 );
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

/***** Featured Links Text Hover Color *****/
.featured-links-a ul.featured-links-list .featured-item a:hover {
    color: #fff;
}

/***** Featured Links Icon Hover Color *****/
.featured-links-a ul.featured-links-list li a .icon:hover {
    color: #fff;
}
 
 

/* ====================================================
    HEADER MODULE B
=====================================================*/
/* Top Navigation Bar Background and Search Box Color */
.layout-header-b-wrapper .top-header-wrapper, 
.layout-header-b-wrapper .top-header-wrapper .swm-search-wrapper {
    background: #b4b0af;
}

/* Top Navigation Bar Links Color */
.layout-header-b-wrapper .links span a.link-btn {
    color: #fff;
}

/* Top Navigation Bar Links Hover */
.layout-header-b-wrapper .links span a.link-btn:hover {
    color: #ad7138;
}

/***** Top Navigation Bar Pipe *****/
.layout-header-b-wrapper .links span:after, .layout-header-c-wrapper .links span:after {
    background: #fff;
}

/* Top Navigation Bar Social Media Icons */
.layout-header-b-wrapper .top-header-wrapper .social-icon-container ul.social-icons .fa {
    color: #ed9b4c;
    background-color: #fff;
}

/* Top Navigation Bar Social Media Icons Hover */
.layout-header-b-wrapper .top-header-wrapper .social-icon-container ul.social-icons .fa:hover {
    color: #fff;
    background-color: #ad7138;
}

/***** Top Navigation Bar Search Icon Color *****/
.swm-search a:before {
    color: #fff !important;
}

/***** Top Navigation Bar Search Icon Hover Color *****/
.swm-search:hover a:before {
    color: #ad7138 !important;
}

/***** Top Navigation Bar Search Button Color *****/
.search-submit, .generic-content-sidebar .transcript-btn, .generic-main-content .transcript-btn, .testimonial-video .transcript-btn { 
    background: #ed9b4c;
}

/***** Top Navigation Bar Search Button Hover Color *****/
.search-form:hover .search-submit, .search-form:active .search-submit, .search-form:focus .search-submit, .search-submit:hover, .search-submit:focus, 
.generic-content-sidebar .transcript-btn:hover, .generic-main-content .transcript-btn:hover, .testimonial-video .transcript-btn:hover { 
    background: #f1b67c;
}


/*=====================================================*/
/* Middle Navigation Bar Background Color */
.layout-header-b-wrapper .header-wrapper {
    background-color: #fff;
}

/* Middle Navigation Bar Phone Number Color */
header.layout-header-b-wrapper .contact-details a.btn-text.large {
    color: #040218;
}

/* Middle Navigation Bar Logo (Ignore) */
.layout-header-b-wrapper .site-branding {
    margin-top: 8px;
}

.layout-header-b-wrapper .logo {
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
}


/*=====================================================*/
/* Bottom Navigation Bar Background Color */
.main-navigation, .main-navigation ul, .left-menu #toggle-menu, .main-content #menu-toggle, .layout-header-c-wrapper .top-header-wrapper, .layout-header-c-wrapper .top-header-wrapper .swm-search-wrapper {
    background: #fff;
    border-bottom: 2px solid #ed9b4c;
}

/* Bottom Navigation Bar Menu */
header.layout-header-b-wrapper .menu-item-has-children:before {
    padding-top: 0.750rem !important;
}

header.layout-header-b-wrapper ul.menu > li > a {
    padding-top: auto !important;
    padding-bottom: auto !important;
    border-left: 0;
}

.layout-header-b-wrapper ul.menu li, .layout-header-c-wrapper ul.menu li {
    padding:0;
}

/***** Mobile Menu Donut Lines *****/
.main-content #menu-toggle {
    color: #ed9b4c;
}

/***** Mobile Menu Sub Menu Background (Keep White) *****/
.mobile-view #toggle-menu ul li > ul {
    background: #fff;
}

/***** 1st Level Text Menu Color *****/
ul.menu li a {
    color: #ed9b4c;
}

/***** 1st Level Text Menu Hover Color *****/
ul.menu li a:hover {
    color: #ed9b4c;
}

/***** Arrow color *****/
.menu-item-has-children:before {
    color: #ed9b4c;
}

/***** 1st Level Menu Background Hover Color *****/
ul.menu li:hover {
    background: #f5f4f4;
}

/***** 2nd Level *****
/* Sub Menu Background color */
ul.menu li > ul a {
    padding: 0.450rem;
}

ul.menu li:hover > ul li{ 
    background: #f5f4f4;
    color: #fff;
}

/* Sub Menu Background Hover color */
ul.menu li > ul li:hover a { 
    background: #c8c5c4;
    color: #fff;
}

/* Hover color */
/***** 3rd Level *****/
ul.menu li > ul ul li:hover a { 
    background: #373737;
    color: #fff;
}

/***** 4th Level *****/
ul.menu li:hover > ul li:hover > ul li:hover > ul li:hover a {
    background: #c8c5c4;
    color: #fff;
}


/* ====================================================
    HOMEPAGE BANNER
/* ====================================================
    HOMEPAGE BANNER A
=====================================================*/
/*--- Banner Color Overlay ---*/
.banner-1.current-theme:before, 
.banner-a.current-theme:before, 
.banner-b.current-theme:before, 
.banner-c.current-theme:before {
    background-color: #;
}

/* Banner Main Title */
.banner-1 .banner-text-content .header-title, 
.banner-a .content h1, .banner-a .content h3, .banner-a .content .header-title, 
.banner-b .content h1, .banner-b .content h3, .banner-b .content .header-title, 
.banner-c .content h1, .banner-c .content h3, .banner-c .content .header-title {
    color: #fff;
}

/***** Banner Paragraph text *****/
.banner-1 .banner-text-content p  {
    color: #fff !important;
    font-size: 1rem;
}

/***** Banner Bullet text *****/
.banner-1 .banner-text-content ul li {
    color: #fff;
    font-size: 1rem;
}

/***** Banner Text Link Color *****/
.banner-1 .banner-text-content a:visited {
    color: #fff !important;
}

/***** Banner Text Link Hover Color *****/
.banner-1 .banner-text-content  a:hover {
    color: #f1b67c;
}

/***** Banner CTA (BOX) *****/
.banner-type-container .schedule-online{
    background: #fff;
}

/***** Banner CTA Title (BOX) *****/
.banner-type-container .schedule-online .content h3 {
    color: #040218;
}

/***** Banner CTA Phone Number & Icon (BOX) *****/
.banner-type-container .schedule-online a.btn-text, .banner-type-container .schedule-online a.btn-text.calendar:before, .banner-type-container .schedule-online a.btn-text.mobile:before {
    color: #040218 !important;
}

/***** Banner CTA Text (BOX) *****/
.banner-type-container .schedule-online .content p {
    color: #040218;
}

/***** Banner CTA Footer (BOX) *****/
.banner-type-container .schedule-online .footer {
    background-color: #373737; 
}

/***** Banner CTA Office Hours - Day (BOX) *****/
.banner-type-container .schedule ul.swm-bh.short li span.day {
    font-weight: 700;
    color: #fff;
}

/***** Banner CTA Office Hours - Time (BOX) *****/
.banner-type-container .schedule ul.swm-bh.short li span.time {
    color: #fff;
}

/***** Banner CTA Office Hours - Pipe (BOX) *****/
.banner-type-container .schedule ul.swm-bh.short {
    -webkit-column-rule-color: #fff;
    -moz-column-rule-color: #fff; 
    column-rule-color: #fff;
}


/* ==== HOMEPAGE BANNER MODULE D ==== */
/*--- Header (D) Banner Color Overlay ---*/
.banner-1.current-theme:before, 
.banner-a.current-theme:before, 
.banner-b.current-theme:before, 
.banner-c.current-theme:before {
    background-color: #;
}

/***** Header (D) Banner Heading Text (BOX) *****/
.banner-c .content .header-title {
    color: #040218;
}

/***** Header (D) Banner CTA Text (BOX) *****/
.schedule-online .content p {
    color: #040218;
}

a.btn-text.mobile.large::before, a.btn-text.mobile:before {
    color: #040218 !important;
}

/***** Header (D) Banner Appointment Text (BOX) *****/
.banner-c .content h4 {
    color: #040218 !important;
}

/***** Header (D) Banner Hours (BOX) *****/
.schedule ul.swm-bh.short li {
    color: #040218;
}

/***** Header (D) CTA Banner Background Color (BOX) *****/
.schedule-online .content {
    background-color: #f5f4f4;
}




/* ====================================================
    INNERPAGE BANNER E
=====================================================*/
/***** Banner (B,C,D,E) Color Overlays *****/
.innerpage-banner.current-theme:before {
    background-color: #a9a6a5;
}

/***** Banner (E) Title *****/
.banner-a .content h1, .banner-a .content h3, .banner-a .content .header-title, 
.innerpage-banner .innerpage-text-content .header-title, .banner-b .content h1, .banner-b .content h3, .banner-b .content .header-title {
    color: #fff;
}

/***** Banner (E) Paragraph Text & Bullets *****/
.banner-a .content p, .banner-b .content p, 
.innerpage-text-content p, .innerpage-text-content ul li, ul.innerpage-banner-list li {
    font-weight: 400;
    color: #fff;
}

/***** Banner (B,D,E) Italized Paragraph Text *****/
.innerpage-banner-a .innerpage-banner-container p:last-of-type {
    color: #fff;
}

/***** Banner (B,D,E) Link Color *****/
.dark-palette a {
    color: #fff;
}

/***** Banner (B,D,E) Link Hover Color *****/
.dark-palette a:hover {
    color: #f1b67c;
}

/***** Banner (E) Pipe *****/
.separator-right {
    border-right: 1px solid #fff;
}

/***** Banner (E) Call Today *****/
.innerpage-banner-a .schedule-online .content h3 {
    color: #fff;
}

/***** Banner (E) Phone *****/
.innerpage-banner-a a.btn-text.large {
    color: #fff;
}

/***** Banner (E) Phone Icon *****/
a.btn-text.mobile.large::before, a.btn-text.mobile:before {
    color: #000 !important;
}



/* ====================================================
    DOCTOR MODULE (from Module Catalog)
=====================================================*/
/***** Doctor Module (A,B,C) Title *****/
.doctor-intro-single .content a h3, .featured-doctor .content a h3, .doctor-intro-multiple .content a h3 {
    color: #040218 !important;
}

/***** Doctor Module (A,B,C) Text *****/
.doctor-intro-single .content p, .featured-doctor .content p, .doctor-intro-multiple p {
    color: #040218;
}

/* ====================================================
    DOCTOR MODULE C (from Module Catalog)
=====================================================*/
/***** Doctor Module (C) Background Color *****/
.doctor-intro-multiple .section-box {
    background-color: #fff;
}

/***** Doctor Module (C) Content Link *****/
.doctor-intro-multiple a:visited {
    color: #ed9b4c;
}

/***** Doctor Module (C) Content Hover Link *****/
.doctor-intro-multiple a:hover {
    color: #f1b67c;
}



/* ====================================================
    GENERIC CONTENT MODULE (from Module Catalog)
=====================================================*/
/* ====================================================
    GENERIC CONTENT A (from Module Catalog)
=====================================================*/
/***** Generic Content (A) Background *****/
.generic-content-a.current-theme:before {
  background-color: #fff;
}

/***** Generic Content (A) Color (Need Both) *****/
.generic-content-a.current-theme {
  background-color: #fff;
}

/***** Generic Content (A) Heading *****/
.mod-content-fullwidth h1, .mod-content-fullwidth h3{
    color: #040218;
}

/***** Generic Content (A) Text *****/
.generic-content-a .mod-content-fullwidth p:last-child {
    color: #040218;
}

/***** Generic Content (A) Content Link *****/
.generic-content-a .mod-content-fullwidth a:visited {
    color: #ed9b4c;
}

/***** Generic Content (A) Content Hover Link *****/
.generic-content-a .mod-content-fullwidth a:hover {
    color: #f1b67c;
}

/* ==== GENERIC CONTENT MODULE G ==== */
/***** Generic Content (G) Background *****/
section.generic-content-g {
    background: #fff;
}

/***** /***** Generic Content (G) Title and Text Color *****/
.generic-content-g .generic-content h1, .generic-content-g .generic-content h3, 
.generic-content-g .generic-content p {
    color: #040218;
}



/* ====================================================
    TRIO BLOCKS MODULE 
=====================================================*/
/* ====================================================
    TRIO BLOCKS B (from Module Catalog)
=====================================================*/
/***** Trio Blocks (B) Section Background *****/
.trio-blocks-b {
    background-color: #b4b0af;
}

/***** Trio Blocks (B) Column Box Title *****/
.trio-blocks-b .fs-list-type2 .list-item .content .title {
    color: #fff;
}

/***** Trio Blocks (B) Column Box Text *****/
.trio-blocks-b .fs-list-type2 .list-item .content p:last-child {
    color: #fff;
}


/* ====================================================
    TRIO BLOCKS D (from Module Catalog)
=====================================================*/
/***** Trio Blocks (D) Overlay Color Filter *****/
.niche-blocks.trio-blocks-d .swm-col-3 .list-item:before {
    background-color: #a9a6a5;
}

/***** Trio Blocks (D) Column Color Pipe *****/
.niche-blocks.trio-blocks-d .swm-col-3 .list-item {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

/***** Trio Blocks (D) Column Subtitle *****/
.niche-blocks .fs-list-type2 .list-item .content .column-header .title {
    color: #fff;
}

/***** Trio Blocks (D) Column Title *****/
.trio-blocks-d .fs-list-type2 .list-item .content .title {
    color: #fff;
}

/***** Trio Blocks (D) Column Text *****/
.trio-blocks-d .fs-list-type2 .list-item .content p {
    color: #fff;
}



/* ====================================================
    ALL SERVICES MODULE (from Module Catalog)
=====================================================*/
/***** All Services Section Background *****/
.all-services {
    background: #373737;
}

/***** All Services Section Title *****/
.all-services h3 {
    color: #fff;
}

/***** All Services Column Pipe *****/
.all-services ul.service-names {
    -webkit-column-rule-color: #fff;
    -moz-column-rule-color: #fff;
    column-rule-color: #fff;
}

/***** All Services Links Color *****/
.all-services ul.service-names li a {
    color: #ed9b4c;
}

/***** All Services Hover Color *****/
.all-services ul.service-names li a:hover {
    color: #f1b67c;
}



/* ====================================================
    BIRDEYE 2 (from Module Catalog)
=====================================================*/

/***** Birdeye 2 Section Background *****/
.birdeye-b {
    background-color: #ed9b4c;
}

/***** Birdeye 2 Header *****/
.birdeye-b h3 {
    color: #fff;
}



/* ====================================================
    REVIEW US: ALL COMPACT (from Module Catalog)
=====================================================*/
/***** Review Us: All Compact Section Background *****/
.review-us-all-compact {
    background: #ed9b4c;
}

/***** Review Us: All Compact Rate Us Pipe *****/
.review-us-all-compact .read-review {
    border-right: 1px solid;
    color: #fff;
}

/***** Review Us: All Compact Patient Testimonial Link *****/
.review-us-all-compact .read-review a {
    color: #fff;
}

/***** Review Us: All Compact Patient Testimonial Hover *****/
.review-us-all-compact .read-review a:hover {
    color: #fff;
}

/***** Review Us: All Compact Rate Us Text *****/
.review-us-all-compact .rate-us span, .rate-us-b-dark .rate-us span, .rate-us-large .rate-us span {
    color: #fff;
}

/***** Review Us: All Compact Star Icon Color *****/
.rating > a, .rating > a:before {
    color: #fff;
}

/***** Review Us: All Compact Star Icon Hover Color *****/
.rating > a:hover:before, .rating > a:hover ~ a:before {
    color: #f9a510;
}



/* ====================================================
    TOUR OFFICE MODULE
=====================================================*/
/* ====================================================
    TOUR OFFICE TEASER A
=====================================================*/
/***** Tour Office (A) Section *****/
.tour-office-teaser-a {
    background-color: #b4b0af;
}

/***** Tour Office (A) Title *****/
.tour-office-teaser-a .header-title {
    color: #fff;
}

/***** Tour Office (A) Text *****/
.tour-office-teaser-a .right-col .generic-content p {
    color: #fff;
}



/* ====================================================
    TOUR OFFICE TEASER B
=====================================================*/

/***** Tour Office (B) Color Overlay *****/
.tour-office-teaser-compact:before {
    background-color: #a9a6a5;
}

/***** Tour Office (B) Title Text *****/
.tour-office-teaser-compact .mod-content-fullwidth h1 {
    color: #fff;
    font-size: 38px;
}

/***** Tour Office (B) Text *****/
.tour-office-teaser-compact .mod-content-fullwidth p {
    color: #fff;
}


/* ====================================================
    TOUR OFFICE TEASER C
=====================================================*/
/***** Tour Office (C) Background Color *****/
.tour-office-teaser-c {
    background-color: #b4b0af;
}

/***** Tour Office (C) Carousel Arrow + Background Color *****/
.tour-office-teaser-c .owl-theme .owl-nav [class*=owl-] {
    color: #fff;
    background-color: #ed9b4c;
}

/***** Tour Office (C) Carousel Arrow + Background Color *****/
.tour-office-teaser-c .owl-theme .owl-nav [class*=owl-] :hover {
    background-color: #f1b67c;
}


/* ====================================================
    TESTIMONIALS MODULE
=====================================================*/
/* ====================================================
    TESTIMONIALS C
=====================================================*/
/***** Testimonials (C) Module Background *****/
.testimonial-c-video {
    background: #b4b0af;
}

/***** Testimonials (C) Section Title *****/
.testimonial-c-video h3 {
    color: #fff !important;
}

/***** Testimonials (C) Play Icon *****/
.testimonial-c-video .patient-testimonial-video-list .popup-video:hover .testimonial-title, .testimonial-c-video .patient-testimonial-video-list .popup-video:hover i.play-icon {
    opacity: 1;
    color: #fff;
}

/***** Testimonials (C) Video Title *****/
.testimonial-c-video .testimonial-video .testimonial-title {
    color: #fff;
}

/***** Testimonials (C) Testimonial Name *****/
.testimonial-c-video.video-main-container .container .testimonial-video .transcript-btn {
    color:#fff;
    background: #ed9b4c;
}

/***** Testimonials (C) Transcript Button Hover *****/
.testimonial-c-video.video-main-container .container .testimonial-video .transcript-btn:hover {
    color:#fff;
    background: #f1b67c;
}



/* ====================================================
    OFFER MODULES
=====================================================*/
/***** Offer A, C, & D Sidebar Background Color *****/
.offer-event.offer-module .content:before {
    background-color: #373737;
}

/***** Offer B Sidebar Background Color *****/
.offer-event.offer-module .offer-event-b .content:before {
    background-color: #373737;
}

/***** Offer A, C, & D Sidebar Text Color *****/
.offer-event.offer-module .offer-gift {
    color: #fff;
}

/***** Offer A, B, C, & D Top Background Color *****/
.offer-event.offer-module .content-spacer {
    background-color: #b4b0af;
    border: 2px dashed #373737;
}

/***** Offer A Heading Color *****/
.offer-event.offer-module .offer-event-a h4  {
    color: #fff;
}

/***** Offer A Value Color *****/
.offer-event.offer-module .offer-event-a .event-price {
    color: #fff;
}

/***** Offer B Heading Color *****/
.offer-event-b h4 {
    color: #fff;
}

/***** Offer C & D Heading Color *****/
.entry-content-new h4 {
    color: #fff;
}

/***** Offer D Price Text & Background Color *****/
.offer-event.offer-module .offer-event-d .event-price {
    background: #ed9b4c;
    color: #fff;
}

/***** Offer B Price Background Color *****/
.offer-event.offer-module .offer-event-b .event-price {
    background: #ed9b4c;
}

/***** Offer A, B, C Bottom Background Color *****/
.offer-event.offer-module .event-info-campaign-footer {
    background-color: #b4b0af;
}

/***** Offer D Bottom Background Color *****/
.offer-event.offer-module .offer-event-d .content-spacer .event-info-campaign {
    background: #b4b0af;
}

/***** Offer D Bottom Background Color (Need Both)*****/
.offer-event.offer-module .offer-event-d .event-info-campaign-footer {
    background: #b4b0af;
}

/***** Offer A, B, C, & D CTA Text Color *****/
.offer-event.offer-module .event-info-campaign-footer .event-desc p {
    color: #fff;
}

/***** Offer A, C, & D View Details Text Color *****/
.offer-event.offer-module .event-disclaimer a
{
    color: #fff;
}

/***** Offer A, B, C, & D Promo Text Color *****/
.offer-event.offer-module .event-promo-ends {
    color: #fff;
}


/* ====================================================
    POP UP WINDOW
=====================================================*/
/***** Pop Up Window Price Text Color *****/
.popup-offer .event-price {
    color: #ed9b4c !important;
}

/***** Pop Up Window X Box Text & Background Color *****/
.mfp-close-btn-in .mfp-close {
    background: #fff;
    color: #373737 !important;
}

/***** Pop Up Window Background *****/
.small-dialog {
    background: #fff !important;
    border: 2px dashed #373737 !important;
}



/* ====================================================
    SMILE GALLERY SLIDER (from Module Catalog)
=====================================================*/

/***** Smile Gallery Section Background *****/
.smile-gallery-slider {
    background: #b4b0af;
}

/***** Smile Gallery Overlay Color *****/
.smile-gallery-slider .gallery-single-outer span.smile-labels.smile-after,
.mfp-content .gallery-single span.smile-labels.smile-after { background-color: #29285e; }
.smile-gallery-slider .gallery-single-outer span.smile-overlay { width: 100%; }
.smile-gallery-slider .gallery-single-outer span.smile-overlay:after{
    background-color: rgba(132, 132, 164, 0.8);
}

/***** Smile Gallery Section Title Color *****/
.smile-gallery-slider h2 {
    color: #fff;
}

/***** Smile Gallery Arrow Background Color *****/
.smile-gallery-slider .owl-theme .owl-nav [class*=owl-] {
    color: #ed9b4c;
}

/***** Smile Gallery Arrow Background Hover *****/
.smile-gallery-slider .owl-nav .owl-prev:hover, .smile-gallery-slider .owl-nav .owl-next:hover {
    color: #f1b67c;
}

/***** Smile Gallery Before Label *****/
.smile-gallery-slider .gallery-single-outer span.smile-labels, .mfp-content .gallery-single span.smile-labels {
    color: #fff;
    background-color: #f1b67c;
}

/***** Smile Gallery After Label *****/
.smile-gallery-slider .gallery-single-outer span.smile-labels.smile-after, .mfp-content .gallery-single span.smile-labels.smile-after {
    color: #fff;
    background-color: #ed9b4c;
}

/***** Smile Gallery Link *****/
.smile-gallery-slider a.btn-text-dark {
    color: #ed9b4c;
}

/***** Smile Gallery Hover *****/
.smile-gallery-slider a.btn-text-dark {
    color: #f1b67c;
}



/* ====================================================
    INFO BAR MODULE
=====================================================*/
/* ====================================================
    INFO BAR A (from Module Catalog)
=====================================================*/
/***** Info Bar (A) Section Background *****/
.contact-info-bar-a, .contact-info-bar .appointment-box {
    background-color: #fff;
}

/***** Info Bar (A) Title *****/
.contact-info-bar-a .appointment-box .title {
    color: #040218;
}

/***** Info Bar (A) Scheduled Hours Text Color *****/
.contact-info-bar-a .appointment-box .schedule ul.swm-bh.short li {
    color: #040218;
}

/***** Info Bar (A) Pipe *****/
.contact-info-bar-a .appointment-box .schedule-box {
    border-left: 1px solid #040218;
}

/***** Info Bar (A) Phone Color *****/
.contact-info-bar-a .appointment-box a.btn-text.large {
    color: #ed9b4c;
}

/***** Info Bar (A) Phone Number Icon Color *****/
.appointment-box a.btn-text.mobile.large::before, a.btn-text.mobile:before {
    color: #ed9b4c !important;
}

/***** Info Bar (A) Address Link *****/
.contact-info-bar-a .appointment-box address, .contact-info-bar-a .appointment-box address a {
    color: #040218;
}

/***** Info Bar (A) Address Hover *****/
.contact-info-bar-a .appointment-box address a:hover {
    color: #f1b67c;
}



/* ====================================================
    MAIN BODY CONTENT MODULE
 =====================================================*/
/***** H1 Title *****/
header.entry-header.has-subtitle h1 {
    margin-bottom: 2.1875rem;
}

.generic-main-content .container {
    padding-top: 1.5625rem;
}

/***** Main Content Background Color *****/
.generic-main-content {
    background-color: #fff; 
}



/* ====================================================
    # FOOTER MODULE
=====================================================*/
/***** Footer Background *****/
.footer-container {
    background: #373737;
}

/***** Footer Column Titles *****/
.footer-container .widget h4, 
.footer-container .widget .office-hours .schedule, 
.footer-container .widget address a, 
.footer-container .widget .latest-blogs p, 
.footer-container .widget .latest-blogs .title, 
.footer-container .widget .latest-blogs .title a, 
.footer-container .widget .latest-blogs a.read-more-arrow-right, 
.footer-container .widget .latest-blogs a.read-more-arrow-right:after, 
.footer-container span.disclaimer {
    color:#fff;
}

/***** Footer Call Today to Make an Apt *****/
.footer-container .appointment-box .title {
    color: #fff;
}

/***** Footer Column Pipe *****/
.footer-container .col-container .col-md-3 {
    border-right: 1px solid #fff;
}

/***** Footer Phone Number *****/
.footer-container .appointment-box span.tel a {
    font-size: 22px;
    font-size: 1.375rem;
    color: #ed9b4c;
}

/***** Footer Schedule Color & Icon *****/
.footer-container .appointment-box a.btn-text, a.btn-text.calendar:before, a.btn-text.mobile:before{
    color: #ed9b4c;
}

/***** Footer Schedule Hover *****/
.footer-container .appointment-box a.btn-text:hover, a.btn-text.calendar:hover:before, a.btn-text.mobile:hover:before {
    color: #f1b67c;
}

/***** Footer Social Icon - Size *****/
footer .social-icon-container ul.social-icons .fa {
    height: 20px;
    width: 20px;
    border-radius: 2px;
}

/***** Footer Social Icon Color *****/
footer .social-icons .fa {
    color: #fff;
    background-color: #ed9b4c;
}

/***** Footer Social Icon Hover Color *****/
footer .social-icons .fa:hover {
    color: #fff;
    background-color: #f1b67c;
}

/***** Footer Office Hours (Day) *****/
.footer-container .widget .office-hours .schedule ul li span.day {
    /*font-weight: 700;
    font-size: 0.875rem;*/
    color: #fff;
}

/***** Footer Office Hours (Hours) *****/
.footer-container .widget .office-hours .schedule {
    color: #fff;
}

/***** Footer Blog Post Excerpt *****/
.footer-container .widget .latest-blogs p {
    color: #fff;
}

/***** Footer Blog Post Readmore Link *****/
.footer-container .widget .latest-blogs a.read-more-arrow-right, .footer-container .widget .latest-blogs a.read-more-arrow-right:after {
    color: #ed9b4c !important;
}

/***** Footer Blog Post Readmore Hover *****/
.footer-container .widget .latest-blogs a.read-more-arrow-right:hover, .footer-container .widget .latest-blogs a.read-more-arrow-right:hover:after {
    color: #f1b67c;
}

/***** Footer Menu, Copyright, Privacy Color and Links *****/
.footer-menu-container ul.menu li a, .copyright p, .privacy-section .privacy-holder p a, .copyright p a {
    color: #fff;
}

/***** Footer Menu, Copyright, Privacy Hover *****/
.footer-menu-container ul.menu li a:hover, .privacy-section .privacy-holder p a:hover, .copyright p a:hover {
    color: #f1b67c;
}

/***** Footer Results May Vary *****/
.result-may-vary {
    color: #fff;
    font-size: 9px;
}



/* ====================================================
    MISCELLANEOUS MODuLE
 =====================================================
|   Breadcrumbs, Scroll up button
=====================================================*/
/***** Breadcrumbs Background Color *****/
.bread-crumbs {
    background-color: #fff;
    width: auto !important;
    padding: .75rem 40px;
}

/***** Breadcrumbs Link Color and Text *****/
.bread-crumbs a, .bread-crumbs span.current {
    color: #040218;
}

/***** Breadcrumbs Hover Color *****/
.bread-crumbs a:hover {
    color: #f1b67c;
}



/* ====================================================
    # SEO Landing Page
=====================================================*/
/* ====================================================
    BANNER IMAGE
=====================================================*/
/***** Banner Heading (Overaly) Color *****/
.page-template-seo-landing-page .seo-lp-module.static-banner .content h1 {
    color: #fff;
}

/***** Banner Text Color *****/
.page-template-seo-landing-page .seo-lp-module.static-banner .content p {
    color: #fff;
}

/***** Banner Appointment Color *****/
.page-template-seo-landing-page .seo-lp-module.static-banner .appointment-box span.title {
    color: #fff;
}

/***** Banner Phone Color *****/
.page-template-seo-landing-page .seo-lp-module.static-banner .appointment-box a.disable-tel {
    color: #fff;
}


/* ====================================================
    FEATURED SECTION
=====================================================*/
/***** Featured Heading Color *****/
.page-template-seo-landing-page .seo-lp-module.static-featured-column .content .title {
    color: #040218;
    font-size: 38px;
}

/***** Featured Text Color *****/
.page-template-seo-template .niche-duo-blocks .fs-list-type2 .list-item .content p, 
.page-template-seo-landing-page .niche-duo-blocks .fs-list-type2 .list-item .content p {
    color: #040218 ;
}


/* ====================================================
    DOCTOR SECTION
=====================================================*/
/***** Doctor Background Color *****/
.page-template-seo-landing-page .seo-lp-module.static-doctor-staff {
    background-color: #373737;
}

/***** Doctor Heading & Text Color *****/
.page-template-seo-landing-page .seo-lp-module.static-doctor-staff .list-item .item-title,
.page-template-seo-landing-page .seo-lp-module.static-doctor-staff .list-item p {
    color: #fff;
}

/* ====================================================
    TESTIMONIALS
=====================================================*/
/***** Testimonials Background Color *****/
.page-template-seo-landing-page .seo-lp-module.static-testimonial {
    background-color: #b4b0af;
}

/***** Testimonials Quotation Color *****/
.testimonial-featured-slider-b .slider-text p:before {
    color: #fff;
}

/***** Testimonials Heading & Text Color *****/
.page-template-seo-landing-page .testimonial-featured-slider-b h3,
.page-template-seo-landing-page .testimonial-featured-slider-b .slider-text p,
.page-template-seo-landing-page .testimonial-featured-slider-b .slider-content .patient-name, 
.page-template-seo-landing-page .testimonial-featured-slider-b .slider-text .patient-name {
    color: #fff;
}

/***** Testimonials Dot Color & Outline *****/
.page-template-seo-landing-page .owl-theme .owl-dots .owl-dot.active span,
.page-template-seo-landing-page .owl-theme .owl-dots .owl-dot span {
    background: #fff;
    border: 1px solid #fff;
}

/***** Testimonials Hover Color *****/
.page-template-seo-landing-page .owl-theme .owl-dots .owl-dot.active:hover span, 
.page-template-seo-landing-page .owl-theme .owl-dots .owl-dot:hover span {
    background: #f1b67c;
}


/*--------------------------------------------------------------
# Banner type 1
--------------------------------------------------------------*/
.banner-1 {
    background-repeat:no-repeat;
    background-size:cover;
    margin:0;
    height: 40.625rem;
}
.banner-1 .banner-text-content {text-align:right;}
.banner-1 .banner-text-content .header-title {

}
a.btn-text.calendar:before,
a.btn-text.mobile:before {

}
.banner-1 .banner-text-content p {
    color:#fff;
    font-size: 16px;
    font-size:1rem;
    font-weight: 400;
    line-height:1.375rem;
    margin-bottom:1.000em;
}
.banner-1 .banner-text-content ul.hero-link {list-style:none;}
.banner-1 .banner-text-content ul.hero-link li {
    color:#b6bde0;
    font-size:16px;
    font-size:1rem ;
    line-height:1.563rem;
    font-weight:700;
    display:inline-block;
    margin-left:1.125rem;padding-left:1.125rem;
    border-left:1px solid #b6bde0;
}
.banner-1 .banner-text-content ul.hero-link li:first-child {border:0;}
.banner-1 .banner-text-content ul.hero-link li a {
    color:#b6bde0;
}
.banner-1 .banner-text-content ul.hero-link li a:hover {
    color:#9297c0;
}
.banner-1 .schedule-online .content a.btn-default-dark,
.banner-1 .schedule-online .content a.btn-default-light,
.banner-1 .schedule-online .content p:last-of-type {
    margin-bottom: 0;
}
.banner-1 .schedule-online .content p { margin-top: 0.625rem }
.banner-1 .schedule-online .content { min-height: unset; padding: 1.625rem 2.000rem; }
.ie .banner-1 .schedule-online .content { min-height: inherit; }

/******************/

.banner-text {
    position: absolute;
    z-index: 99;
    width: 100%;
    padding-top: 4%;
}

.banner-text .text-content {
    padding-left: 4.375rem;
}

.banner-text span{
    font-weight: 700;
    display: block;
}

.banner-text span.hcwhy-type1{
     text-transform: uppercase;
    margin-bottom: 1.875rem;
    font-size: 31px;
    font-size: 1.938rem;
    line-height: 1.5rem;
}

.banner-text a.hcwhy-title-type1{
    font-size: 41px;
    font-size: 2.563rem;
    line-height: 2.563rem;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.625rem;
}

.banner-text p {
    margin-bottom: 0.625rem;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.625rem;
}

.banner-text a.readmore {
    margin-bottom: 20px;
}

.banner-text a.readmore:hover {
    color: #1577b7;
}

.banner-text .maa-button {
    margin-top: 1.250rem;
}

.btn-style1 {
    background: none;
    border: 1px solid #000002;
    padding: 1.250rem 2.500rem;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-style1:hover {
    color: #1577b7;
    border-color: #1577b7;
}
/* End Style */

@media (min-width: 451px) {
    .content-area .alignright {
        float: right !important;
    }

    .content-area .alignleft {
        float: left !important;
    }
}


@media (max-width: 480px) {

    .copyright p,
    .privacy-section .privacy-holder p {
        font-size: 12px;
        line-height: 18px;
    }

    .site-content .review-us-all-compact .read-review a,
    .review-us-all-compact .rate-us span,
    .birdeye .text-right {
        font-size: 1.75rem !important;
    }
}

@media (min-width: 480px) {

    header.layout-header-b-wrapper .btn-default-dark,
    .footer-container .appointment-box a.btn-default-dark.calendar {
        padding: 0.213rem 8px;
    }

    .testimonial-video-main-container .testimonial-video .item {
        width: 32%;
    }

    .all-services ul.service-names {
        padding: 0;
    }

    .single-testimonial .testimonial-video-text .item {
        max-width: 200px;
        width: 100%;
        float: left;
        margin: 0px 25px 10px 0 !important;
    }

    .team-container .img-container {
        margin-bottom: 20px;
    }

    footer .site-branding {
        text-align: left;
    }

    .plan-savings ul li {
        display: inline-block;
        width: 50%;
    }

    .plan-savings ul.two-link li:first-child {
        border-right: 2px #000 solid;
        margin-bottom: 0;
    }

    .plan-savings ul.two-link li:last-child {
        padding-left: 20px;
    }

}

@media (min-width: 481px) {
    footer .footer-menu-container ul.menu li {
        line-height: 14px !important;
    }
}

@media (min-width: 568px) {
    .video-main-container .testimonial-video .item {
        /* max-width: 46%; */
        width: 100%;
        margin: 10px;
    }

    .content .video-wrapper.alignright,
    .content .video-wrapper.alignleft {
        width: auto;
    }

}

@media (min-width: 641px) {
    .gform_wrapper textarea.medium {
        width: 100%;
        max-width: 100%;
    }

    .content .gform_wrapper .top_label input.medium,
    .content .gform_wrapper .top_label select.medium {
        width: calc(100% - 0px) !important;
        max-width: 100%;
    }

    .content .gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
        max-width: calc(100% - 0px) !important;
        width: 100%;
        padding: 20px !important;
    }
}

@media (min-width: 690px) {
    .testimonial-video-main-container .testimonial-video .item {
        max-width: 212px;
        width: 100% !important;
    }
}

@media (max-width: 767px) {
    .smile-con {
        width: auto !important;
        margin-right: 0 !important;
        max-width: 100% !important;
    }

    :not(.home) .swm-col-3 .list-item {
        max-width: initial;
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }

    :not(.home) .swm-col-3 .list-item:last-of-type {
        margin-bottom: 0;
    }

    :not(.home) .trio-blocks-b .section-box {
        padding: 50px 0;
    }
}

@media (max-width: 768px) {
    .banner-1 .schedule {
        text-align: center;
    }

    section.banner-1 .schedule ul.swm-bh.short {

        column-count: 1;
    }

    .footer-container .appointment-box a.btn-default-dark.calendar {
        padding: 6px 23px;

    }

    .footer-container .widget .office-hours .schedule ul li span.day {
        text-align: right !important;
    }

    .footer-container .widget .office-hours .schedule {
        text-align: center !important;
    }

    span.entry-title a {
        font-size: 30px;
    }

    .site-content .review-us-all-compact .read-review a,
    .review-us-all-compact .rate-us span {
        font-size: 1.75rem !important;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .birdeye .text-right {
        font-size: 26px;

    }
}

@media (min-width: 768px) {
    .sticky-header-activated header.layout-header-b-wrapper {
        border-bottom: 2px solid #fff !important;
    }

    .innerpage-banner-a .innerpage-banner-container {
        min-height: 450px;
    }

    .schedule-online .content a.btn-default-dark {
        padding: 0.625rem 1.438rem;
    }

    .doctor-overview .circle-container .list-item {
        max-width: 25% !important;
        margin-left: 30px !important;
        margin-right: 30px !important;
    }

    .niche-blocks.trio-blocks-d .swm-col-3 .list-item {
        width: 33.33% !important;
    }

    h1,
    .header-title,
    h1.header-title {
        font-size: 2.5rem !important;
        line-height: 2.875rem !important;
    }

    .video-wrapper a.popup-video .video-title-v2 {
        font-size: 16px;
        line-height: 21px;
    }

    .testimonial-video-text .text-container {
        width: 89%;
    }

    .blog span.entry-title a,
    .search span.entry-title a {
        font-size: 1.875rem;
    }

    .page-template-testimonial-template .video-main-container .container {
        max-width: 680px;
    }

    .birdeye .col-md-8 {
        width: 58.33333333%;
    }

    .birdeye .col-md-4 {
        width: 41.66666667%;
    }

    .birdeye-b.current-theme {
        padding: 0;
    }

    .birdeye.current-theme .row div[class^=col-md-]:last-of-type,
    .birdeye-b .row .birdeye-script {
        float: right !important;
    }

    .birdeye .row div[class^=col-md-]:first-of-type {
        float: left !important;
    }

    .birdeye .horizontal-center {
        position: absolute;
        top: 50%;
        bottom: unset;
        left: unset;
        right: unset;
        -ms-transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
    }

    .birdeye-b .row .birdeye-script {
        top: -40px !important;
    }

    .doctor-overview .list-item {
        margin-bottom: 0px;
    }

    .layout-header-b .main-navigation .swm-navigation>ul {
        font-size: 0;
        margin: 0 -10px;
    }

    .layout-header-b .main-navigation .swm-navigation>ul>li {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .banner-1 {
        height: auto;
        padding: 80px 15px;
    }

    .banner-1 .absolute-center {
        position: relative;
        top: initial;
        bottom: initial;
        left: initial;
        right: initial;
        -ms-transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .ie .banner-1 .absolute-center {
        left: 0;
    }

    .banner-1 .col-md-6,
    .banner-1 .col-sm-6 {
        width: 50% !important;
        float: left !important;
    }

    .banner-1 .col-md-6.banner-1-left.banner-1-matchHeight {
        display: table
    }

    .banner-1 .col-md-6.banner-1-left.banner-1-matchHeight,
    .banner-1 .col-md-6.banner-1-right.banner-1-matchHeight {
        height: inherit;
    }
}

@media (min-width: 769px) {
    header.layout-header-b-wrapper .top-header-wrapper ul.social-icons li {
        margin-left: 5px;
    }

    header.layout-header-b-wrapper .header-wrapper {
        border-bottom: 0 !important;
    }

    header.layout-header-b-wrapper img.logo {
        max-width: 150px !important;
        width: 150px !important;
    }

    .sticky-header-activated header.layout-header-b-wrapper img.logo {
        max-width: 125px !important;
        width: 125px !important;
    }

    .sticky-header-activated .layout-header-b-wrapper .contact-details {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    ._form_element .g-recaptcha {
        transform: scale(.67);
        -webkit-transform: scale(.67);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }

    .featured-services-type2.light-palette .list-item {
        margin-bottom: 0;
    }

    .site-content .review-us-all-compact .read-review a,
    .review-us-all-compact .rate-us span,
    .birdeye .text-right {
        font-size: 1.75rem !important;
    }

    .entry-content-new ul,
    .entry-content-new ol {
        position: relative;
        left: 18px;
        padding-right: 18px;
    }

    .review-us-all-compact .rate-us span {
        padding-left: 24px;
    }
}

@media (max-width: 991px) {
    div.bread-crumbs {
        width: 100%;
    }
}

@media (min-width: 700px) and (max-width: 767px) {
    .banner-1 .col-md-6.banner-1-right {
        padding: 0;
    }

    .banner-1 .col-md-6 .schedule-online .content,
    .banner-1 .col-md-6 .schedule-online .content h3,
    .banner-1 .banner-text-content {
        text-align: center;
    }

    section.banner-1 {
        padding-bottom: 0;
    }

    .banner-1 .banner-text-content {
        padding-bottom: 4rem;
    }

    .banner-1 .banner-text-content ul {
        display: inline-block;
        text-align: left;
    }

    .banner-1 .col-md-6 .schedule-online {
        max-width: 100%;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .doctor-overview .circle-container.swm-col-3 .list-item {
    width: 40% !important;
    margin: 0px 4% !important;
    max-width: 100% !important;
    }
}

@media (min-width: 992px) {
    .team-container .img-container {
        width: 100%;
        margin-bottom: 5px;
        padding-right: 0;
        max-width: 275px;
        margin-right: 20px;


    }

    .generic-content-a .section-box {
        padding: 50px 0;
    }

    #sidebar .primary-sidebar {
        padding-left: 15px;
    }

    .site-main .separator-right article {
        padding-right: 15px;
    }

    header.layout-header-b-wrapper .menu-item-has-children:before {
        padding-top: 0.750rem;
    }

    ._form_element .g-recaptcha {
        transform: scale(.77);
        -webkit-transform: scale(.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }

    .doctor-overview .circle-container .list-item {
        max-width: 30.1% !important;
        /* margin-left: 0!important;
    margin-right: 0!important; */
    }

    .contact-info-bar.current-theme .appointment-box {
        width: 88%;
    }

    ul.menu li a {
        padding: 0.75rem 0.563rem;
    }

    .menu-item-has-children:before {
        width: 25px
    }

    ul.menu li.menu-item-has-children a {
        padding-right: 2.063rem;
    }

    header.layout-header-b-wrapper ul.menu li>a {
        font-size: 15px;
    }

    .generic-content-a .section-box {
        height: auto;
        padding: 80px 0;
    }

    .generic-content-a .mod-content-fullwidth a.popup-video {
        max-width: none;
        line-height: 1.5em;
    }

    .generic-content-a .mod-content-fullwidth a.popup-video:after {
        display: none;
    }

    .generic-content-c .left-col {
        padding: 0px;
    }

    .generic-content-d .generic-content {
        margin-top: 0;
    }

    .innerpage-banner-a .innerpage-banner-container {
        height: 20.625rem;
    }

    .testimonial-featured-slider-a .container {
        width: 900px;
    }

    .site-content .review-us-all-compact .read-review a,
    .site-content .review-us-all-compact .rate-us span,
    .birdeye .section-title {
        font-size: 1.75rem;
    }

    .video-main-container .testimonial-video .item {
        /* max-width: 30%; */
        width: 100%;
        margin: 10px;
    }

    .contact-info-bar .appointment-box .schedule ul.swm-bh.short {
        column-gap: 0;
    }
}

@media (min-width: 1137px) {
    .innerpage-banner-a.dark-palette .innerpage-banner-container {
        display: inherit;
        padding: 0;
        width: 100%;
    }

    .innerpage-banner-a.dark-palette .container.absolute-center {
        max-width: 990px;
        display: block;
        position: absolute !important;
        top: 50% !important;
        bottom: unset !important;
        left: 50% !important;
        right: unset !important;
        -ms-transform: translate(-50%, -50%) !important;
        -webkit-transform: translate(-50%, -50%) !important;
        -moz-transform: translate(-50%, -50%) !important;
        -o-transform: translate(-50%, -50%) !important;
        transform: translate(-50%, -50%) !important;
    }

    .innerpage-banner-a .schedule-online a.btn-text,
    .innerpage-banner-a .schedule-online a.btn-default-light {
        margin-left: 0px;
        margin-right: 0px;
    }

    .innerpage-banner-a .innerpage-banner-container .col-md-7 {
        padding: 0;
    }
}

@media (min-width: 1200px) {
    .contact-info-bar.current-theme .appointment-box {
        width: 74%;
    }

    .niche-blocks .fs-list-type2 .list-item .content .title {
        font-size: 28px;
    }

    .testimonial-featured-slider-a .container {
        width: 1070px;
    }

    .testimonial-video-text .text-container {
        width: 90%;
    }

    ._form_element .g-recaptcha {
        transform: scale(1);
        -webkit-transform: scale(1);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }

    .page-template-testimonial-template .video-main-container .container {
        max-width: 970px;
    }

    .doctor-overview .circle-container.swm-col-3 .list-item {
        width: 100%;
    }

    .generic-content-a .mod-content-fullwidth {
        max-width: 80%;
    }
}

@media (min-width: 1443px) {
    .innerpage-banner-a.dark-palette .container.absolute-center {
        max-width: 1170px;
    }

    .doctor-overview .circle-container.swm-col-3 .list-item {
        width: 100%;
    }
}

@media (min-width: 1600px) {
    .testimonial-featured-slider-a .container {
        width: 1170px;
    }
}

p.innerpage-additional-info.innerpage-addinfo-e {
    color: #040318 !important;
}

div#chat-welcome-tooltip {
    width: 250px;
}

.col-middle-chat-welcome p {
    font-size: 12px;
}

@media (min-width: 1600px) {
    .niche-blocks.trio-blocks-d .swm-col-3 .list-item:nth-child(2) {
        background-position: top 30% center;
    }

    .niche-blocks.trio-blocks-d .swm-col-3 .list-item:nth-child(3) {
        background-position: top 10% center;
    }
}